

<a href="/">
    <h1>Logo</h1>
</a>

<!-- Get method appends the query string to the URL -->
<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search Rooms..." value="{{request.GET.q}}">
    <input type="submit" value="Search">
</form>

<!-- request.user is a built-in Django template tag that returns the user object of the currently logged in user. If the user is not logged in, it returns an AnonymousUser object. -->
{% if request.user.is_authenticated %}
    <p>Hello, {{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>